! special
*.foreground:   #00ff0e
*.background:   #000000
*.cursorColor:  #00ff0e

! black
*.color0:       #000000
*.color8:       #6bbb93

! red
*.color1:       #090507
*.color9:       #e19a81

! green
*.color2:       #331c2b
*.color10:      #d3d693

! yellow
*.color3:       #543048
*.color11:      #6bb891

! blue
*.color4:       #7e4b6c
*.color12:      #d3d1f2

! magenta
*.color5:       #b16c99
*.color13:      #80e0f0

! cyan
*.color6:       #d0a1be
*.color14:      #ddaea1

! white
*.color7:       #eedee7
*.color15:      #6ed2a1

